{% extends 'base.html' %}
{% block title %}控制台{% endblock %}
{% block content %}
<div class="layui-row layui-col-space20">
{% for info in data %}
      <div class="layui-col-md4">
        <table class="layui-table" >
			  <colgroup>
			    <col width="15">
			    <col width="20">
			    <col>
			  </colgroup>
			  <tbody>
			    <tr>
			      <td>连接信息</td>
			      <td>IP: {{ info.host }} 端口: {{ info.tcp_port }} | unix: {{ info.socket }}</td>
			    </tr>
			    <tr>
			      <td>系统信息</td>
			      <td>系统: {{ info.os }} 版本: {{ info.redis_version }}</td>
			    </tr>
			    <tr>
			      <td>运行信息</td>
			      <td>内存: {{ info.used_memory_human }} 天数: {{ info.uptime_in_days }} 阻塞: {{ info.blocked_clients }}</td>
			    </tr>
			      <td>客户端数</td>
			      <td>{{ info.connected_clients }}&nbsp&nbsp&nbsp&nbsp&nbsp
                      <a href="/client/{{ info.redis_id }}/" class="layui-btn layui-btn-xs">查看</a>
                  </td>
			    </tr>
			    <tr>
			      <td>数据保存</td>
			      <td>{{ info.rdb_last_save_time }}&nbsp&nbsp&nbsp&nbsp&nbsp
                      <a href="/bgsave/{{ info.redis_id }}/" class="layui-btn layui-btn-xs">保存</a>
                  </td>
			    </tr>
			  </tbody>
			</table>

      </div>
{% endfor %}
</div>
{% endblock %}